### 문제    
//문제링크
_    
//문제설명    

#### 입력  
//입력설명 

#### 출력  
//출력설명 

#### 예제 
[input]   
//입력값

[output]    
//출력값

#### 조건 
- 시간제한 : *초     
- 메모리제한 : *MB

#### 알고리즘 분류 
//태그 작성

풀이1 (시간초과))

In [ ]:
from itertools import permutations

def solution(numbers):
    perm=set([])
    case=list(permutations(numbers,len(numbers)))
    for i in case:
        perm.add(int(''.join(map(str,i))))
        
    return str(max(perm))

풀이2 )

In [6]:
numbers=[0,0,0,0]
sorted(map(str,numbers), key = lambda x:x*3, reverse=True)

['0', '0', '0', '0']

In [9]:
6/4

1.5

In [10]:
set([7])

{7}

In [11]:
set(7)

TypeError: 'int' object is not iterable

In [16]:
import string
'.  python   '.strip(string.punctuation+' ')

'python'

In [1]:
from pandas import Series, DataFrame

raw_data = {'col0': [1, 2, 3, 4],
            'col1': [10, 20, 30, 40],
            'col2': [100, 200, 300, 400]}

data = DataFrame(raw_data)

In [2]:
data

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [10]:
data.loc[0]

col0      1
col1     10
col2    100
Name: 0, dtype: int64